{% extends 'base.html' %}

{% block content %}
  PROBLEMS PAGE

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">

    <div>
        <h2>Problems and Their Solutions</h2>
        <p>Total Problems: {{ problems_count }}</p>
    </div>

    <form method="get">
        <input 
            type="text" 
            name="q" 
            placeholder="Filter problems..." 
            value="{{ query }}"
            style="padding: 6px; width: 250px;"
        >
        <button type="submit" style="padding: 6px 12px;">Search</button>
        <a href="{% url 'problems' %}" style="margin-left: 10px;">Clear</a>
    </form>

</div>
<hr>

  {% for problem in problems %}
    <div>
      <h3>Problem : {{ problem.title }}</h3>
      <p>{{ problem.description }}</p>

      <strong>Solutions:</strong>
      <ul>
        {% for link in problem.solution_links %}
          <li>
            <a href="{% url 'solution_detail' link.solution.id %}">{{ link.solution.name }}</a>   </><br>
            <!-- <em>{{ link.solution.description }}</em><br> -->
            
            <u>Offered by:</u>
            <ul>
              {% for supplier_link in link.solution.supplier_links %}
                <li>
                  <a href="{% url 'supplier_detail' supplier_link.supplier.id %}">{{ supplier_link.supplier.name }}</a>  — {{ supplier_link.description }}
                </li>
              {% empty %}
                <li>No suppliers listed.</li>
              {% endfor %}
            </ul>
          </li>
        {% empty %}
          <li>No solutions listed for this problem.</li>
        {% endfor %}
      </ul>
    </div>
    <hr>
  {% endfor %}
{% endblock %}